@model EkoTrack.Models.ActivityLog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ActivityLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalculatedCo2Emission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalculatedCo2Emission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmissionSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmissionSource.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmissionFactor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmissionFactor.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
